{% extends "website/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'website/css/gallery.css' %}">
{% endblock %}

{% block title %}
    {{ photo.title }} | BMK Academy
{% endblock %}


{% block content %}

<section class="bmk-photo-detail">

    <div class="container">

        <!-- BACK TO GALLERY -->

        <a
            href="{% url 'gallery:gallery' %}"
            class="bmk-photo-back"
        >
            <i class="bi bi-arrow-left"></i>
            Back to Gallery
        </a>


        <!-- PHOTO -->

        <article class="bmk-photo-card">

            <div class="bmk-photo-image-container">

                <img
                    src="{{ photo.image.url }}"
                    alt="{{ photo.title }}"
                    class="bmk-photo-image"
                >

            </div>


            <!-- INFORMATION -->

            <div class="bmk-photo-information">

                <div class="bmk-photo-category">

                    <i class="bi bi-folder2-open"></i>

                    {{ photo.category.name }}

                </div>


                <h1>
                    {{ photo.title }}
                </h1>


                {% if photo.caption %}

                    <p class="bmk-photo-caption">
                        {{ photo.caption }}
                    </p>

                {% endif %}


                <div class="bmk-photo-meta">

                    <i class="bi bi-calendar3"></i>

                    <span>
                        Added to the BMK Academy gallery
                    </span>

                </div>

            </div>

        </article>

    </div>

</section>

{% endblock %}

