{% extends "base.html" %}


{% block title %}

    Login | BMK Academy

{% endblock %}


{% block content %}


<div class="row justify-content-center">

    <div class="col-md-5">

        <div class="card shadow-sm">

            <div class="card-body p-4">

                <h3 class="mb-2 text-center">
                    BMK Academy
                </h3>

                <p class="text-muted text-center">
                    Login to your account
                </p>

                <hr>


                <form method="post">

                    {% csrf_token %}


                    {% if form.non_field_errors %}

                        <div class="alert alert-danger">

                            {{ form.non_field_errors }}

                        </div>

                    {% endif %}


                    <div class="mb-3">

                        <label class="form-label">

                            Username

                        </label>

                        {{ form.username }}

                    </div>


                    <div class="mb-3">

                        <label class="form-label">

                            Password

                        </label>

                        {{ form.password }}

                    </div>


                    <button
                        type="submit"
                        class="btn btn-primary w-100"
                    >

                        Login

                    </button>


                </form>

            </div>

        </div>

    </div>

</div>


{% endblock %}

