{% extends "website/base.html" %}
{% load static %}

{% block title %}
{{ category.name }} | BMK Academy
{% endblock %}

{% block extra_css %}

<link rel="stylesheet" href="{% static 'website/css/blog.css' %}">
{% endblock %}

{% block content %}

<section class="bmk-category-posts">

<!-- HERO -->

<section class="bmk-category-posts-hero">

    <div class="container">

        <a
            href="{% url 'blog:post_list' %}"
            class="bmk-category-back"
        >
            <i class="bi bi-arrow-left"></i>
            Back to News &amp; Blog
        </a>


        <div class="bmk-category-posts-label">
            <i class="bi bi-folder2-open"></i>
            Blog Category
        </div>


        <h1>
            {{ category.name }}
        </h1>


        {% if category.description %}

            <p class="bmk-category-posts-description">
                {{ category.description }}
            </p>

        {% else %}

            <p class="bmk-category-posts-description">
                Explore the latest stories, news and activities
                from BMK Academy in this category.
            </p>

        {% endif %}

    </div>

</section>


<!-- POSTS -->

<div class="container bmk-category-posts-content">

    {% if posts %}

        <div class="row g-4">

            {% for post in posts %}

                <div class="col-md-6 col-lg-4">

                    <article class="bmk-category-post-card">

                        {% if post.featured_image %}

                            <div class="bmk-category-post-image">

                                <img
                                    src="{{ post.featured_image.url }}"
                                    alt="{{ post.title }}"
                                >

                            </div>

                        {% else %}

                            <div class="bmk-category-post-placeholder">
                                <i class="bi bi-newspaper"></i>
                            </div>

                        {% endif %}


                        <div class="bmk-category-post-body">

                            <span class="bmk-category-post-badge">
                                {{ post.category.name }}
                            </span>


                            <h2>
                                {{ post.title }}
                            </h2>


                            <div class="bmk-category-post-meta">

                                <span>
                                    <i class="bi bi-calendar3"></i>
                                    {{ post.published_at|date:"M d, Y" }}
                                </span>

                                <span>
                                    <i class="bi bi-person"></i>
                                    {{ post.author.get_full_name|default:post.author.username }}
                                </span>

                            </div>


                            {% if post.excerpt %}

                                <p class="bmk-category-post-excerpt">
                                    {{ post.excerpt|truncatewords:25 }}
                                </p>

                            {% endif %}


                            <a
                                href="{% url 'blog:post_detail' post.slug %}"
                                class="bmk-category-read"
                            >
                                Read Article
                                <i class="bi bi-arrow-right"></i>
                            </a>

                        </div>

                    </article>

                </div>

            {% endfor %}

        </div>


    {% else %}

        <div class="bmk-category-empty">

            <div class="bmk-category-empty-icon">
                <i class="bi bi-newspaper"></i>
            </div>

            <h2>
                No posts yet
            </h2>

            <p>
                There are currently no published posts
                in this category.
            </p>

            <a
                href="{% url 'blog:post_list' %}"
                class="btn btn-primary px-4"
            >
                <i class="bi bi-arrow-left me-1"></i>
                View All Posts
            </a>

        </div>

    {% endif %}


    <!-- PAGINATION -->

    {% if page_obj.has_other_pages %}

        <nav
            class="bmk-category-pagination"
            aria-label="Blog pagination"
        >

            <ul class="pagination justify-content-center">

                {% if page_obj.has_previous %}

                    <li class="page-item">

                        <a
                            class="page-link"
                            href="?page={{ page_obj.previous_page_number }}"
                        >
                            <i class="bi bi-chevron-left me-1"></i>
                            Previous
                        </a>

                    </li>

                {% endif %}


                {% for num in page_obj.paginator.page_range %}

                    {% if page_obj.number == num %}

                        <li class="page-item active">

                            <span class="page-link">
                                {{ num }}
                            </span>

                        </li>

                    {% else %}

                        <li class="page-item">

                            <a
                                class="page-link"
                                href="?page={{ num }}"
                            >
                                {{ num }}
                            </a>

                        </li>

                    {% endif %}

                {% endfor %}


                {% if page_obj.has_next %}

                    <li class="page-item">

                        <a
                            class="page-link"
                            href="?page={{ page_obj.next_page_number }}"
                        >
                            Next
                            <i class="bi bi-chevron-right ms-1"></i>
                        </a>

                    </li>

                {% endif %}

            </ul>

        </nav>

    {% endif %}

</div>


</section>

{% endblock %}
